{% extends "base.html" %}


{% block body %}

<div class="container mb-3 p-4">
    {% for ticket in tickets %}
    <a href="/create-order" class="text-decoration-none">
      <div class="card mb-3">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">
              entry: {{ticket['created_time']}} -
              worker: {{ticket['employee_name']}}
          </h6>
          <h5 class="card-title">{{ ticket['license_plate'] }} - {{ ticket['brand'] }}</h5>
          <p class="card-text"> {{ ticket['car_body'] }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
